# Environment variables
.env
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local

# Node modules
node_modules

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Operating System files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/

# Test coverage
coverage/

# Temp files
*.swp
*.tmp

# Merge Database
mergeDb.js

# Dependency directories
.pnpm-store/
.npm/
.yarn/

# Binaries and other package manager lock files
*.lock
package-lock.json
yarn.lock
.pnp/
.pnp.js

# Miscellaneous
.cache/
.history/
*.pid
*.seed
*.pid.lock

# Deploy files
.next/        # If using Next.js
.out/         # If using SvelteKit
serverless/   # If using Serverless Framework
firebase-debug.log  # If using Firebase

# Security files (optional)
*.key
*.pem
certs/
